@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* .custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  background-color: #e9f1ef;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
